<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/news/list.css}" rel="stylesheet">
</head>
<body>
    <main layout:fragment="contents">
        <div class="wrapper">
            <h1>ニュース一覧</h1>
            <div class="top-area">
                <button class="btn" th:onclick="location.href='/news/create'">新規作成</button>
                <form th:action="@{/news/list}" method="get" class="search">
                    タイトル
                    <input type="text" name="title" th:value="${title}" class="input-search">
                    <button class="search-btn">検索</button>
                </form>
            </div>
            <table border="1">
                <tr>
                    <th>No</th>
                    <th>タイトル</th>
                    <th>本文</th>
                    <th>操作</th>
                </tr>
                <tr th:each="news, status : ${newsList}" > <!-- 指定したListオブジェクトの個数分繰り返す -->
                    <td>[[${status.count}]]</td>
                    <td>
                        <p class="td-title" th:text="${#strings.length(news.title) <= 7} ? ${news.title} : |${#strings.substring(news.title, 0, 7)}...|"></p>
                    </td>
                    <td>
                        <p class="td-contents" th:text="${#strings.length(news.content) <= 40} ? ${news.content} : |${#strings.substring(news.content, 0, 40)}...|"></p>
                    </td>
                   <!-- ※文字数を指定し以降は…で表示 th:text→我慢に指定した値を表示させる(四則演算や比較の演算子も使える) -->
                    <td class="operation-box">
                    <!-- 2-5(編集)ここから -->
                        <a th:href="@{/news/edit/__${news.id}__}" class="operation">編集</a>
                        <!-- DBから取得したIDをもとに遷移先URKを指定 -->
					<!-- 2-5(編集)ここまで -->
					<!-- 2-5(削除)ここから -->
                        <form method="post" name="delete" th:action="@{/news/delete}">
                        <!-- 新たなformタグ追加(formタグでしかpost送信できない) -->
                            <input type="hidden" name="id" th:value="${news.id}">
                            <a onclick="this.parentNode.submit()" class="operation">削除</a>
                            <!-- onclick="this.parentNode.submit()"：javascriptの構文、親要素(parentNode)であるformタグをsubmit(送信)するという意味がある
                            formタグに記述されているURL(/news/delete)にpost送信される。
							送信する際のリクエストパラメータは、inputタグのth:valueで指定(type="hidden"を指定しているため画面には表示されない)-->
                        </form>
					<!-- 2-5(削除)ここまで -->
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>